<!DOCTYPE html>
<html lang="ja">

<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>マウスストーカー</title>
    <meta charset="UTF-8">

    <!-- CSSの結びつけ -->
    <link rel="stylesheet" th:href="@{/css/follinsnow.css}">

    <!-- JavaScriptの結びつけ -->
    <script th:src="@{/js/follinSnow.js}" type="text/javascript"></script>

</head>

<body>

    <div id="stkr"></div>
    <div class="links">
        <div><a href="#" class="stkr-target">リンク１</a></div>
        <div><a href="#" class="stkr-target">リーーンク２</a></div>
        <div><a href="#" class="stkr-target">リーーーーンク３</a></div>
    </div>
    

</body>