<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- 必須のメタタグ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!-- <title th:text="#{site.title}"></title> -->
    <title>買ったものリスト</title>

    <style>
        body {
            font-family: 'Noto Sans JP', sans-serif;
        }
    </style>
</head>

<body>
    <h1>買ったものリスト</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">商品名</th>
                <th scope="col">消費・賞味期限</th>
                <form method="post" th:action="@{/purchaseH/sort}">
                    <button name="sortOptionList" type="submit" value="0">降順</button>
                </form>
                <form method="post" th:action="@{/purchaseH/sort}">
                    <button name="sortOptionList" type="submit" value="1">昇順</button>
                </form>
                <th scope="col">数量</th>
                <th scope="col">アクション</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="purchaseHistory : ${purchaseHistories}"
                th:style="${purchaseHistory.deadlineFlag} ? 'background-color: red' : ''">
                <td th:text="${purchaseHistory.merchName}"></td>
                <td th:text="${#temporals.format(purchaseHistory.deadline, 'yyyy/MM/dd HH:mm:ss')}"></td>
                <!-- 数量を変更できるようにinputフィールドを追加 -->
                <td>

                    <form id="updateForm" method="post" th:action="@{/updateQuantity}">
                        <!-- 数量を表示 -->
                        <!-- <span th:text="${purchaseHistory.quantity}"></span> -->
                        <!-- 数量を変更するinputフィールド -->
                        <input type="number" th:value="${purchaseHistory.quantity}" name="newQuantity" />
                        <input type="hidden" th:value="${purchaseHistory.memberId}" name="updateMemberId" />
                        <input type="hidden" th:value="${purchaseHistory.merchId}" name="updateMerchId">
                        <input type="hidden" th:value="${purchaseHistory.deadline}" name="updateDeadline">
                        <button type="submit">更新</button>
                    </form>
                </td>
                <td>
                    <form id="deleteForm" method="post" th:action="@{/purchaseH/delete}">
                        <input type="hidden" name="memberId" th:value="${purchaseHistory.memberId}" />
                        <input type="hidden" name="merchId" th:value="${purchaseHistory.merchId}" />
                        <input type="hidden" name="deadline" th:value="${purchaseHistory.deadline}" />
                        <!-- <button type="button" id="delete" onclick="confirmDelete()">削除</button> -->
                        <input type="submit" value="削除">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form method="get" th:action="@{/home}">
        <button type="submit">メニューへ</button>
    </form>

    <script>
        function confirmDelete() {
            var isConfirmed = confirm("このアイテムを削除しますか？");
            if (isConfirmed) {
                document.getElementById("deleteForm").submit();
            }
        }
    </script>
</body>

</html>